<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <h1>Gender-bias paraphraser</h1>
        <!-- <button type="button" id="sidebarCollapse" class="btn btn-info">
            <i class="fas fa-align-left"></i>
            <span>Toggle Sidebar</span>
        </button> -->
        
        <!-- <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fas fa-align-justify"></i>
        </button> -->

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item  {{'active' if active_page == 'home' }}">
                    <a class="nav-link" href="/">Home</a>
                </p></li>
                <li class="nav-item  {{'active' if active_page == 'unsplash' }}">
                    <a class="nav-link" href="/plumber">Plumber</a>
                </p></li>
                <li class="nav-item  {{'active' if active_page == 'twoforms' }}">
                    <a class="nav-link" href="/realestate">Real estate agent</a>
                </p></li>

            </ul>
        </div>
    </div>
</nav>